resources:
  requests:
    cpu: 50m
    memory: 64Mi

updateChartDeps: true

helm:
  versions: {{ StringsJoin .HelmVersions "," }}

prometheus:
  enabled: true

clusterRole:
  create: true

git:
  ssh:
    secretName: flux-git-deploy
